/*
/$$$$$$$$ /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$ 
| $$_____//$$__  $$| $$$ | $$|__  $$__//$$__  $$
| $$     | $$  \ $$| $$$$| $$   | $$  | $$  \__/
| $$$$$  | $$  | $$| $$ $$ $$   | $$  |  $$$$$$ 
| $$__/  | $$  | $$| $$  $$$$   | $$   \____  $$
| $$     | $$  | $$| $$\  $$$   | $$   /$$  \ $$
| $$     |  $$$$$$/| $$ \  $$   | $$  |  $$$$$$/
|__/      \______/ |__/  \__/   |__/   \______/ 
                                            
*/

/* bold */
 @font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/proxima_nova/MarkSimonson-ProximaNovaAltBold-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

/* regular */

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima_nova/MarkSimonson-ProximaNovaAltRegular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Jellee-Roman';
  src: url('../fonts/Jellee-Roman.otf');
  font-weight: normal;
  font-style: normal;
}

.Jellee-Roman {
  font-family: 'Jellee-Roman';
}

.proxima-Nova {
  font-family: "Proxima Nova";
}

.proxima-Nova-Bold {
  font-family: "Proxima-Nova-Bold";
}


/* basic */

html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100% !important;
}

html * {
  font-family: 'Proxima Nova';
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

button,
input,
select {
    outline: none !important;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.h-100vh {
  height: 100vh;
}

.bg-gradian-blue-lit {
  background: rgb(113,245,255);
  background: linear-gradient(135deg, rgba(113,245,255,1) 0%, rgba(70,201,255,1) 100%);
}

.linea-blue::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #17cdff;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.linea-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: #17cdff4d;
  z-index: 0;
  margin: auto;
  position: absolute;
  top: 91px;
  left: 0;
  right: 0;
}

#resultados .linea-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 94px;
  background-color: #17cdff4d;
  z-index: 0;
  margin: auto;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
}

.br-radius-16 {
  border-radius: 16px !important;
}

.shadow--1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.z-index-99 {
  z-index: 99;
}

.white {
  color: #FFFFFF;
}

.blue {
 color: #56dbff;
}

.bg-blue {
  background-color: #56dbff;
}

.dark-1 {
  color: #3b3b3b;
}

.fz-100 {
  font-size: 100px;
}

.fz-80 {
  font-size: 80px;
}

.fz-65 {
  font-size: 65px;
}

.fz-18 {
  font-size: 18px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-19 {
  font-size: 19px;
}

.fz-20 {
  font-size: 20px;
}

.fz-21 {
  font-size: 21px;
}

.fz-22 {
  font-size: 22px;
}

.fz-23 {
  font-size: 23px;
}

.fz-24 {
  font-size: 24px;
}

.fz-48 {
  font-size: 48px;
}

.fz-60 {
  font-size: 60px;
}

.fw-bold {
  font-weight: bold !important;
}

.cursor-pointer {
  cursor: pointer;
}

.circle {
  width: 160px;
  height: 160px;
  padding: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
}

.circle-aff::after {
  content: "";
  width: 200px;
  height: 200px;
  padding: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #56dbff;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2px;
  right: 0;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#resultados .circle {
  width: 120px;
  height: 120px;
  padding: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
}

#resultados .circle-aff::after {
  content: "";
  width: 160px;
  height: 160px;
  padding: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #56dbff;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 2px;
  right: 0;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.mt-50 {
  margin-top: 50px;
}

.text-decoration-none {
  text-decoration: none;
}

.br-none {
  border: none !important;
}

.list-custom {
  border-radius: 16px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blue-2 {
  color: #23caf7;
}

.red {
  color: #dc3545;
}

.green {
  color: green;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.fz-40 {
  font-size: 40px;
}

.fz-35 {
  font-size: 35px;
}

.w-1600 {
  width: 100%;
  max-width: 1366px;
}

.w-1450 {
  width: 100%;
  max-width: 1450px !important;
}

.w-1145 {
  width: 100%;
  max-width: 1145px !important;
}

.w-910 {
  width: 100%;
  max-width: 910px !important;
}

.w-300 {
  width: 100%;
  max-width: 300px !important;
}

.w-450 {
  width: 100%;
  max-width: 450px !important;
}

.icon-atras {
  left: 0;
  bottom: 18px;
}

.input-style {
  padding: 12px;
   border-radius: 10px;
  border: 1px solid;
  border-color: #05caff;
}

/* @media (min-width: 1400px) {
  
}

@media (min-width: 1200px) {
  
}

@media (min-width: 992px) {
  
}

 */

.btn-disabled:disabled {
   background-color: rgb(202, 199, 199) !important;
 }

 @media (min-width: 768px) {

  .icon-atras {
    left: 0;
    bottom: 30px !important;
  }
  

  .fz-md-60 {
    font-size: 60px !important;
  }

  .circle {
    width: 180px;
    height: 180px;
    padding: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    z-index: 2;
  }
  
  .circle-aff::after {
    content: "";
    width: 234px;
    height: 234px;
    padding: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #56dbff;
    position: absolute;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2px;
    right: 0;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
}

.form-check-input:checked,
.form-check-select:checked {
  background-color: #4fd3ff !important;
  border-color: #65e0f9 !important;
}

.form-check-input:focus,
.form-check-select:focus {
  border-color: #00d4ff !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #86e2fe86 !important;
}

.form-control:focus,
.form-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #00d4ff !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #86e2fe86 !important;
}

@media (min-width: 576px) {
  .fz-sm-60 {
    font-size: 60px !important;
  }

  .fz-sm-40 {
    font-size: 40px;
  }

  .fz-sm-30 {
    font-size: 30px;
  }
}

